body{
    background-color: rgb(253, 253, 253);
    text-align: center;
    color: #008080;
}



@font-face {
    font-family: 'Tw Cen MT Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Tw Cen MT Condensed'), url('TCCM.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Tw Cen MT Condensed Extra Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Tw Cen MT Condensed Extra Bold'), url('TCCEB.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Tw Cen MT Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Tw Cen MT Bold'), url('TCB.woff') format('woff');
    }

#webseite{
    width: 75%;
    margin: 0 auto;
    min-width: 840px;
    font-family: Tw Cen MT Condensed, Arial;
}
#titel{
    color:#008080;
    background: rgba(214, 214, 214, 0.75);
    border-radius: 5px;
    font-size: 25px;
    padding: 10px;
    transition: 0.1s;
}
#menu{
    overflow: hidden;
    position: fixed;
    top: 60px;
    width: 74.3%;
    min-width: 840px;
    transition: 0.3s;
    z-index: 99;
}
#header{
    height: 150px;
    background: #008080;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(214, 214, 214, 0.75);
    transition: 0.3s;
}
#header h1{
    padding-top: 40px;
    font-size: 60px;
}
.trenner{
    background: rgba(214, 214, 214, 0.75);
    color: #008080;
    margin-top: 5px;
    border-radius: 5px;
    border-style: solid;
    font-size: 30px;
    padding: 10px;
    
}
.page{
    margin-top: 5px;
    border-radius: 5px;
    overflow: auto;
}
.nav{
    float: left;
    width: 30%;
    background: rgba(214, 214, 214, 0.6);
    border-radius: 5px;
    text-align: left;
    
}
.content{
    float: right;
    width: 69.5%;
    background: rgba(214, 214, 214, 0.6);
    color: black;
    border-radius: 5px;
}

#logo{
    float: left;
    margin-top: 35px;
    margin-left: 3%;
    transition: 0.3s;
    border-radius: 5px;
}
#logobild{
    transition: 0.3s;
    border-radius: 5px;
    height: 78px;
}
.topnav{
    float: right;
    text-align: center;
    padding: 20px;
    margin-top: 36px;
    margin-right: 2.8%;
    font-size: 30px;
    background: white;
    color: #008080;
    border-color: white;
    width: 10%;
    min-width: 120px;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    transition: 0.3s;
}
.topnav:hover{
    background:#008080;
    color: white;
    border-color: white;
}
.leftnav{
    text-align: center;
    width: 95%;
    margin-left: 2.25%;
    margin-top: 10px;
    background: white;
    color: #008080;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 35px;
    border-radius: 3px;
    border-color: #008080;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.leftnav:hover{
    background:#008080;
    color: white;
}

.leftnavtext{
    text-align: center;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 10px;
    background: white;
    color: #008080;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 35px;
    border-radius: 3px;
    margin-bottom: 10px;
    transition: 0.2s;
}

#bildangebote{
    margin-bottom: 10px;
    width: 95.5%;
    border-radius: 3px;
    margin-left: 2.25%;
}
#tabelleangebotehead{
    padding:2%;
    font-size: 35px;

}
#tabelleangebote{
    padding:2%;
    padding-top: 0px;
    width: 100%;
    color: black;
}
.kurztexttab{
    font-size: 35px;
    width: 31%;
    padding: 1%;
}
.langtexttab{
    font-size: 25px;
    vertical-align: bottom;
    width: 65%;
    padding: 1%; 
}
.langtexttablarge{
    font-size: 30px;
    vertical-align: bottom;
    width: 65%;
    padding: 1%;
}
#wanderplanlinkcontainer{
    padding-left: 2%;
}
#linkwanderplandiv{
    padding: 1%;
    font-size: 25px;
    background:#008080;
}
#linkwanderplan{
    color: white;
}
#infowanderplan{
    font-size: 25px;
    padding: 2%;
}
.vierspalttab{
    width: 22%;
    font-size: 25px;
    padding: 1%;
}
.dreispalttab{
    font-size: 35px;
    width: 60%;
    padding: 1%;
}
.dreispalttabkurz{
    font-size: 35px;
    text-align: right;
    width: 18%;
    padding: 1%;
}
#bildangebote2{
    margin-bottom: 10px;
    width: 95%;
    border-radius: 3px;
    margin-left: 2.25%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
#bildangebote3{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 95%;
    border-radius: 3px;
    margin-left: 2.25%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
#bildangebote2desc{
    color: #2f2496;
    font-size: 30px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.selected{
    background:#008080;
    color: white;
}
#divtourplaner{
    text-align: center;
    background: white;
    color: #2f2496;
    padding: 30px 3%;
    width: 65%;
    margin-left: 14.5%;
    margin-top: 75px;
    margin-bottom: 75px;
    
    border-radius: 3px;
    border-color: #2f2496;
    border-style: solid;
    border-width: 1px;
    transition: 0.2s;
}
#divtourplaner>a{
    color: #2f2496;
    font-size: 30px;
}
#divtourplaner:hover{
    background: #2f2496;
    color: white;
}
#divtourplaner:hover .divtpchild{
    color: white;
}
.textdiv{
    text-align: left;
    padding: 3%;
    font-size: 25px;
}
.textdivbig{
    text-align: left;
    padding: 4%;
    font-size: 35px;
}

.galerie{
    width: 20%;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    margin: 2%;
    filter: grayscale(50%);
}
.galerie:hover{
    width: 24%;
    margin: 0%;
    transition: 0.15s;
    border-color: white;
    filter: grayscale(0%);
}
#content2{
    padding-top: 15px;
    font-size: 36px;
}
.puffer{
    height: 93px;
    visibility: hidden;
}
#puffer0{
    margin-top: 60px;
    transition: 0.3s;
}
#puffer5{
    margin-top: 648px;
}
#vorstandpic{
    width: 600px;
    border-radius: 2px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    margin-bottom: 10px;
}
#vorstanddesc{
    margin-bottom: 30px;
}
#infoboxerreichbarkeit{
    padding: 2%;
    color: white;
    background: #008080;
    
}

#anmeldung{
    background: #008080;
    color: white;
    display: inline-block;
    padding: 2px;
}


* {box-sizing: border-box;}
.mySlides {display: none;}
.imgkarusell {
    vertical-align: middle;
    border-radius: 5px;
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
  top: 5px;
}

/* Caption text */
.text {
  color: black;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  top: 8px;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.7)
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  top: 8px;
  z-index: 98;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*Responsive*/
@media only screen and (max-width : 840px){
    #webseite{
        min-width: 0px;
        width: 100%;
    }
    #menu{
        min-width: 0px;
        width: 98%;
    }
    .topnav{
        min-width: 0px;
        width: auto;
        font-size: 20px;
    }
}