html{
    background: white;
}
body{
    color: #fff;
    min-width: 920px;
    font-family: TW Cen MT condensed;
    font-size: 30px;
    background-size: 100%;
}
#content{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 140px 80%;
    max-width: 100%;
    margin: 0 auto;
    grid-template-areas: 
    "header header header header"
    "nav main main main";
}

header{
    padding: 30px;
    grid-area: header;
    display: grid;
    grid-template-columns: 5, 2;
    grid-gap: 5%;
    grid-template-areas: 
    "logo angebote galerie ueberuns kontakt"
    "trenner trenner trenner trenner trenner";
    background: white;
}
main {
    grid-area: main;
    background: rgb(61, 134, 61, 0.0);
    color: #008080;
}
nav {
    grid-area: nav;
    background: rgb(61, 134, 61, 0.0);
    position: relative;
    padding: 2%;
}

.topnav{
    border-style: solid;
    text-align: center;
    background: white;
    color:#008080;
    padding: 24px;
}
.topnav:hover{
    background:#008080;
    color: white;
}

#logo {
    grid-area: logo;
    text-align: center;
}
#angebote{
    grid-area: angebote;
}
#galerie{
    grid-area: galerie;
}
#ueberuns{
    grid-area: ueberuns;
}
#kontakt{
    grid-area: kontakt;
}
#trenner{
    background: #008080;
    height: 20px;
    grid-area: trenner;
}

.leftnav{
   
    background: white;
    color: #008080;
    padding: 16px;
}

.leftnav:hover{
    background:#008080;
    color: white;
}

#bildangebote{
    position:absolute;
    bottom: 0px;
    width: 96%;
}

#tabelleangebotehead{
    padding:2%;
    font-size: 35px;
}

#tabelleangebote{
    padding:2%;
    padding-top: 0px;
    color: #008080;
}

.kurztexttab{
    font-size: 35px;
    width: 31%;
    padding: 1%;
}

.langtexttab{
    font-size: 25px;
    vertical-align: bottom;
    width: 65%;
    padding: 1%; 
}

#wanderplanlinkcontainer{
    padding: 3%;
    padding-left: 2%;
}

#linkwanderplan{
    width: 95%px;
    padding: 1%;
    background:#008080;
    color: white;
}

#infowanderplan{
    padding: 3%;
    padding-top: 1%;
}
